@use "normalize";
@use "presets";
@use "common";
@use "header";
@use "main";
@use "footer";
@use "mixins";


@media (min-width: 992px) and (max-width: 1200px) {
  
  
  .box-item__wrap {
    flex-wrap: nowrap;
  }


  .banner__text {
    min-height: none;
  }
  .benefits {
    min-width: 48%;
  }

  .footer-menu {
    min-width: 22%;

    &__list {
      min-width: 100%;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .banner {
    min-height: 300px;
  &__infa {
    text-shadow: 2px 2px 10px #f13c6e;
  }

  &__text {
    min-height: 300px;
  }
}

.box-item__wrap {
  flex-wrap: wrap;
  }
  .item {
    min-width: 48%;
  }

  .benefits {
    min-width: 100%;
  }

  .logo-brand__container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-menu {
    min-width: 22%;

    &__list {
      min-width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .header-main__container {
    flex-direction: column;
  }

  .banner {
    background-position: 20% 50%;
    background-size: cover;
    min-height: 300px;


    &__infa {
      max-width: 225px;

      text-shadow: 2px 2px 10px #f13c6e;
    }
  }

  
  .box-item__wrap {
flex-wrap: wrap;
}
  .item {
    min-width: 47%;
  }

  .benefits {
    min-width: 100%;
  }

  .logo-brand__container {
    grid-template-columns: 1fr 1fr;
  }

  .footer__container {
    flex-wrap: wrap;
  }
  .footer-menu {
    min-width: 47%;

    &__list {
      min-width: 100%;
    }
  }

  .footer-feedback__wrap {
    flex-direction: column;

    gap: 20px;
  }
}

@media (max-width: 480px) {
  .banner {
    background-position: 40% 50%;
    background-size: cover;
  }

  .item {
    min-width: 100%;
  }

  .feedback {
    flex-direction: column;
  }
  .benefits {
    flex-wrap: wrap;
    justify-content: space-around;

    width: 100%;

    gap: 20px;
  }

  .logo-brand__container {
    grid-template-columns: 1fr;
  }

  .footer-menu {
    min-width: 45%;

    &__list {
      min-width: 100%;
    }
  }
}
