@use "../presets" as *;

.header {
  background-color: $color-grey;
}

.header-botton-menu {
  padding: 15px 0;

  border-top: 1px solid $color-grey;
  background-color: $color-white;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    list-style: none;

    column-gap: 10px;
  }

  &__link {
    display: block;

    padding: 15px;

    color: $color-black;

    font-size: $font-size-16;
    line-height: 19px;
  }
}
